/** Add css rules here for your application. */
.body {
  font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  margin: 10px 0;
  background: #E6EAE9;
}

.top {
  width: 100%;
}

.mainPanel {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  background: #FFFFFF;
  border: 8px solid #FFF;
  padding: 5px;
}

.northPanel {
  width: 100%;
  background: #4E7DD1;
  height: 60px;
  padding: 15px;
}

.centerPanel {
  width: 100%;
}

.southPanel {
  width: 100%;
  background: #4E7DD1;
  height: 10px;
}

.bottom {
  width: 100%;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
